*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="Submit"], button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

input[type="text"], input[type="password"]{
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.form-container{
    min-height:65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

form{
    display: block;
    position: relative;
}

form:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #292f36, #4ECDC4);
}

form .form-inner{
    position: relative;
    display: block;
    background-color: #fff;
    padding: 30px;
    z-index: 2;
}

form .form-inner h2{
    color: #292f36;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label{
    display: block;
    color: #292f36;
    font-size: 16px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label{
    color: #fe4880;
}

form .form-inner .form-group input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: rgba(78, 205, 196, 0.2);
    border-radius: 14px;
    transition: 0.4s;
}

form .form-inner .form-group input:focus{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

form .form-inner input[type="submit"]{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 14px;
    background-image: linear-gradient(to right, #292f36 50%, #4ECDC4 50%);
    cursor: pointer;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-weight: 700;
}

form .form-inner input[type="submit"]:hover{
    background-position: 100% 0%;
}