.category{
    display: flex;
    width: 80%;
    margin: auto;
}

.category div{
    border: solid black 1px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    height: 350px;
}

.box-one{
    flex:1;
    min-width: 300px;
}

.box-two{
    flex: 1;
    min-width: 300px;
}

.box-three{
    flex: 1;
    min-width: 300px;
}