.main-home{
    color: #292F36;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.main-home h2 {
    text-decoration: none;
    margin: 1vh 1vw;
    display: inline-block;
    color: #292f36;
    padding: 20px;
    font-size: 32px;
}