/* laptops */

.laptops{
    display: flex;
    width: 80%;
    margin: auto;
}

.laptops div{
    border: solid black 1px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    height: 350px;
}

.laptop-one{
    flex:1;
    min-width: 300px;
}

.laptop-two{
    flex: 1;
    min-width: 300px;
}

.laptop-three{
    flex: 1;
    min-width: 300px;
}
