.footer-container{
    height: 150px;
    width: 100%;
    background-color: #4ECDC4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}

.footer-right{
    flex: 32%;
}

.footer-right img{
    margin-right: 6%;
    margin-left: 6%;
    height: 50px;
    filter: invert(1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 10px;
    transform: scale(1);
    transition: 0.5s;
}

.footer-right img:hover{
    transform: scale(1.2) translateY(-15px);
}

.footer-center{
    height: 100%;
    flex: 34%;
    border-right: solid 1px #292F36;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.footer-center ul li{
    list-style-type: none;
}

.footer-left{
    font-size: 62px;
    font-weight: 900;
    height: 100%;
    flex: 32%;
    border-right: solid 1px #292F36;
    display: flex;
    justify-content: center;
    align-items: center;
}