.basket-container{
    width: 92vw;
    min-height: 57.5vh;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 80px;
}

.basket-left{
    flex: 77%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;

}

.basket-right{
    flex: 23%;
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: flex-end;
}

.input[type="Submit"], button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    margin-top: 15px;
}

.form{
    display: block;
    position: relative;
}

.form:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #292f36, #4ECDC4);
}

.form-container3{
    width: 400px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form .form-inner3{
    position: relative;
    display: block;
    background-color: #fff;
    padding: 30px;
    z-index: 2;
    height: 17rem;
}

.form .form-inner3 h2{
    color: #292f36;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

.form .form-inner3 .form-group3 {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner3 .form-group3 label{
    display: block;
    color: #292f36;
    font-size: 16px;
    margin-bottom: 5px;
}

.form .form-inner3 .form-group3 p{
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: rgba(78, 205, 196, 0.2);
    border-radius: 14px;
}

.form .form-inner3 .input[type="submit"]{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 14px;
    background-image: linear-gradient(to right, #292f36 50%, #4ECDC4 50%);
    cursor: pointer;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-weight: 700;
}

.form .form-inner3 .input[type="submit"]:hover{
    background-position: 100% 0%;
}