
img{
    height: 200px;
    width: 200px;
    
}
.laptop h1{
text-align: center;
   
    
}
.laptop{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
   
    
}
.mobile{
    display: flex;
    flex-direction: row;
}
.watch{
    display: flex;
    flex-direction: row;
}
.laptop button{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}
.mobile button{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

.watch button{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}



