.category-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:100%;
}

.category-container a {
    text-decoration: none;
}

.category-container .product-card {
    max-width: 100%;
    margin: 1vh
}

