.product-card {
    display:flex;
    position:relative;
    flex-direction:column;
    margin:0 20px;
    background-color:#fff;
    box-shadow:0 1px 3px 1px #dadada;
    text-align:center;
    max-width:30%;
    color: white;
}

.product-info {
    display:flex;
    flex-direction:column;
    width:100%;
}

.expand-background-container {
    position:absolute;
    left:0;
    bottom:0;
    height:0;
    text-align:center;
}

.expand-background {
    position:absolute;
    overflow:hidden;
    display:flex;
    justify-content:center;
    width:100%;
    background-color:#292f36;
    z-index:999;
    transition:all .5s ease-out;
    height:0;
}

.product-card img {
    margin:0 50px;
    max-width:100%;
}

.product-card p {
    margin:20px;
    font-size:1.5rem;
    font-weight:bolder;
}

.product-card button {
    background-color: #4ecdc4;
    border: none;
    padding: 1vh 1vw;
    border-radius: 2px;
}

.product-card ul {
    color:#fff;
    list-style-type:none;
}

.product-card:hover {
    position:relative;
}

.product-card:hover .expand-background {
    height:50px;
}

.info-container {
    color:#fff;
    background-color:#292f36;
    padding:20px;
}