.card-container {
    display: flex;
}

.product-card {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 20px;
    flex-basis: calc(100%/3);
    background-color: white;
    box-shadow: 0 1px 3px 1px rgb(218, 218, 218);
    max-width: calc(100%/3);
    text-align: center;
}

.expand-background {
    position: absolute;
    width: 100%;
    left: 0;
    height: 0px;
    background-color: #292f36;
    z-index: 5;
    transition: all 0.5s ease-out;
}

.product-card img {
    margin: 0 50px;
}

.product-card p {
    margin: 20px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.product-card ul {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.product-card:hover {
    position: relative;
    
}

.product-card:hover ul {
    display: block;
    position: absolute;
    transition-delay: all 0.2s;
}

.product-card:hover .expand-background {
    height: 200px;
}

.info-container {
    color: white;
    background-color: #292f36;
    padding: 20px;
}